.reset-container {
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    text-align: center;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit {
    width: 100%;
    padding: 10px;
    background: #81c408;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:disabled {
    background: gray;
  }
  
  .success-message {
    color: green;
  }
  
  .error-message {
    color: red;
  }
  
  .back-btn {
    width: 100%;
    padding: 10px;
    background: #555;
    margin-top: 10px;
    border: none;
    cursor: pointer;
  }
  